/*!
 * 960gs_lite v0.1 (http://github.com/Nalis/css-libs)
 * GPLv3 Nalis Ltd
 */
/* line 20, ../sass/960gs_lite.scss */
.grid-container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* line 7, ../sass/960gs_lite.scss */
.grid-style {
  display: inline-block;
  vertical-align: top;
}

/* line 12, ../sass/960gs_lite.scss */
.grid-container .grid-5 {
  display: inline-block;
  vertical-align: top;
  width: 5%;
}

/* line 7, ../sass/960gs_lite.scss */
.grid-style {
  display: inline-block;
  vertical-align: top;
}

/* line 12, ../sass/960gs_lite.scss */
.grid-container .grid-10 {
  display: inline-block;
  vertical-align: top;
  width: 10%;
}

/* line 7, ../sass/960gs_lite.scss */
.grid-style {
  display: inline-block;
  vertical-align: top;
}

/* line 12, ../sass/960gs_lite.scss */
.grid-container .grid-15 {
  display: inline-block;
  vertical-align: top;
  width: 15%;
}

/* line 7, ../sass/960gs_lite.scss */
.grid-style {
  display: inline-block;
  vertical-align: top;
}

/* line 12, ../sass/960gs_lite.scss */
.grid-container .grid-20 {
  display: inline-block;
  vertical-align: top;
  width: 20%;
}

/* line 7, ../sass/960gs_lite.scss */
.grid-style {
  display: inline-block;
  vertical-align: top;
}

/* line 12, ../sass/960gs_lite.scss */
.grid-container .grid-25 {
  display: inline-block;
  vertical-align: top;
  width: 25%;
}

/* line 7, ../sass/960gs_lite.scss */
.grid-style {
  display: inline-block;
  vertical-align: top;
}

/* line 12, ../sass/960gs_lite.scss */
.grid-container .grid-30 {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}

/* line 7, ../sass/960gs_lite.scss */
.grid-style {
  display: inline-block;
  vertical-align: top;
}

/* line 12, ../sass/960gs_lite.scss */
.grid-container .grid-35 {
  display: inline-block;
  vertical-align: top;
  width: 35%;
}

/* line 7, ../sass/960gs_lite.scss */
.grid-style {
  display: inline-block;
  vertical-align: top;
}

/* line 12, ../sass/960gs_lite.scss */
.grid-container .grid-40 {
  display: inline-block;
  vertical-align: top;
  width: 40%;
}

/* line 7, ../sass/960gs_lite.scss */
.grid-style {
  display: inline-block;
  vertical-align: top;
}

/* line 12, ../sass/960gs_lite.scss */
.grid-container .grid-45 {
  display: inline-block;
  vertical-align: top;
  width: 45%;
}

/* line 7, ../sass/960gs_lite.scss */
.grid-style {
  display: inline-block;
  vertical-align: top;
}

/* line 12, ../sass/960gs_lite.scss */
.grid-container .grid-50 {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

/* line 7, ../sass/960gs_lite.scss */
.grid-style {
  display: inline-block;
  vertical-align: top;
}

/* line 12, ../sass/960gs_lite.scss */
.grid-container .grid-55 {
  display: inline-block;
  vertical-align: top;
  width: 55.0%;
}

/* line 7, ../sass/960gs_lite.scss */
.grid-style {
  display: inline-block;
  vertical-align: top;
}

/* line 12, ../sass/960gs_lite.scss */
.grid-container .grid-60 {
  display: inline-block;
  vertical-align: top;
  width: 60%;
}

/* line 7, ../sass/960gs_lite.scss */
.grid-style {
  display: inline-block;
  vertical-align: top;
}

/* line 12, ../sass/960gs_lite.scss */
.grid-container .grid-65 {
  display: inline-block;
  vertical-align: top;
  width: 65%;
}

/* line 7, ../sass/960gs_lite.scss */
.grid-style {
  display: inline-block;
  vertical-align: top;
}

/* line 12, ../sass/960gs_lite.scss */
.grid-container .grid-70 {
  display: inline-block;
  vertical-align: top;
  width: 70%;
}

/* line 7, ../sass/960gs_lite.scss */
.grid-style {
  display: inline-block;
  vertical-align: top;
}

/* line 12, ../sass/960gs_lite.scss */
.grid-container .grid-75 {
  display: inline-block;
  vertical-align: top;
  width: 75%;
}

/* line 7, ../sass/960gs_lite.scss */
.grid-style {
  display: inline-block;
  vertical-align: top;
}

/* line 12, ../sass/960gs_lite.scss */
.grid-container .grid-80 {
  display: inline-block;
  vertical-align: top;
  width: 80%;
}

/* line 7, ../sass/960gs_lite.scss */
.grid-style {
  display: inline-block;
  vertical-align: top;
}

/* line 12, ../sass/960gs_lite.scss */
.grid-container .grid-85 {
  display: inline-block;
  vertical-align: top;
  width: 85%;
}

/* line 7, ../sass/960gs_lite.scss */
.grid-style {
  display: inline-block;
  vertical-align: top;
}

/* line 12, ../sass/960gs_lite.scss */
.grid-container .grid-90 {
  display: inline-block;
  vertical-align: top;
  width: 90%;
}

/* line 7, ../sass/960gs_lite.scss */
.grid-style {
  display: inline-block;
  vertical-align: top;
}

/* line 12, ../sass/960gs_lite.scss */
.grid-container .grid-95 {
  display: inline-block;
  vertical-align: top;
  width: 95%;
}

/* line 7, ../sass/960gs_lite.scss */
.grid-style {
  display: inline-block;
  vertical-align: top;
}

/* line 12, ../sass/960gs_lite.scss */
.grid-container .grid-100 {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

/* line 30, ../sass/960gs_lite.scss */
.grid-container .grid-100 {
  clear: both;
}
